.app {
  width: 100vw;
  height: 100vh;
}

.view {
  background-color: #CE1030;
}

.view img {
  max-width: 50%;
}

.list-scroll {
  overflow: auto;
  padding: 0px;
}

.screen {
  flex-direction: column;
  justify-content: space-around !important;
  width: 50%;
  height: 75%;
  border: 2px black solid;
  border-radius: 50px;
  background-color: white;
  box-shadow: -10px 10px 0px 5px #888888;
}

.description {
  width: 100%;
  height: 25%;
  border-top: 2px black solid;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.poke-list-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  cursor: pointer;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  transition: background-color 0.2s;
}

.poke-list-item div {
  margin: 10px;
}

.poke-list-item:hover {
  background-color: cadetblue;
  color: white;
}

.icon-sm {
  width: 20px;
  height: auto;
}

.icon-md {
  width: 80px;
  height: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticle-align {
  flex-direction: column;
}

.anchor {
  position: relative;
}

.anchor-top-left {
  position: absolute;
  top: -100px;
  left: -100px;
  transform: rotate(-25deg);
}

.anchor-top-right {
  position: absolute;
  top: -80px;
  right: 50px;
  transform: rotate(25deg);
}

.title {
  padding-bottom: 50px;
  width: 50em;
  height: auto;
}